<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input #searchInput type="text" matInput [formControl]="searchControl" [matAutocomplete]="auto"
         (click)="searchInput.select()"
  />
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="onOptionSelected($event)"
                    (closed)="searchControl.reset(displayFn(formControl.value))">
    <mat-option *ngIf="isLoading$ | async; else loadedTemplate" disabled>Bitte warten ...</mat-option>
    <ng-template #loadedTemplate>
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option" [id]="option.kennung">
        {{ option.vorname }} {{ option.nachname }} ({{ option.kennung }})
      </mat-option>
      <mat-option *ngIf="!required" [value]="null" style="font-style: italic">Kein Mitarbeiter</mat-option>
    </ng-template>
  </mat-autocomplete>
</mat-form-field>
